<html>
  <head>
    <title>[%pmea_title%]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="[%ext_root%]/resources/css/ext-all.css" />
    <script type="text/javascript" src="[%ext_root%]/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="[%ext_root%]/ext-all[%debug%].js"></script>
    <script type="text/javascript" src="[%ext_root%]/src/locale/ext-lang-[%language%].js"></script>
    <script type="text/javascript">[%pmea_js%]</script>
  </head>
  <body>
  </body>
</html>